body{
  height:100%;
}
p{
  font-size: .32rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
h2{
  font-size: .36rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
ul{
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  li{
    font-size:.32rem;
  }
}

.arrow-right{
  position:relative;
  &:after{
    border: 2px solid #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 50%;
    right: 20px;
    position: absolute;
    width: .2rem;
    height: .2rem;
    transform: translateY(-50%) rotate(45deg);
  }
}


