body,html,.app,.view {
  height: 100%;
  width: 100%;
  max-width: 1242px;
  min-width: 320px;
  margin:0 auto;
  letter-spacing:2px;
  .view{
    overflow-x: hidden;
  }
}
p{
  font-size: .32rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
h1{
  font-size: .36rem;
}
h2{
  font-size: .36rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
ul{
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  li{
    font-size:.32rem;
  }
}

.arrow-right{
  position:relative;
  &:after{
    border: 2px solid #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top: 50%;
    right: .14rem;
    position: absolute;
    width: .2rem;
    height: .2rem;
    transform: translateY(-50%) rotate(45deg);
  }
}
.wrap_head{
  margin-top: 1.5rem;
  text-align: center;
  color:#b4b4b5;
  .change{
    margin-top: .5rem;
  }
}

// 手机
@mixin mobileMixin($w, $h, $color) {
  width: $w;
  height: $h;
  border:2px solid $color;
  border-radius: $h*.111111;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5%;
    background: $color;
    z-index: 1;
  }
  &:before{
    position: absolute;
    content: '';
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 15%;
    border-radius: 50%;
    border:2.5px solid $color;
    z-index: 1;
  }
}

.mobileIcon{
  @include mobileMixin(.32rem, .45rem, #00aaee)
}




// 密码框类型显示隐藏
@mixin passwordTypeMixin($n, $color, $disColor) {
    width: $n;
    height: $n;
    border-radius: 80% 0;
    transform: rotate(45deg) translate(50%);
    background: $color;
    position: relative;
    margin: auto;
    &.dis{
      background: $disColor;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: $n*.3;
      height: $n*.3;
      border: $n*.1 solid #fff;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 1;
    }
    &.dis:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      z-index: 2;
      height: 100%;
      width: $n*.1;
      background: $disColor;
      border:1px solid #fff;
  }
}

.passwordTypeIcon{
  @include passwordTypeMixin(.5rem, #00aaee , #c8c9ca)
}


